<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../css/common.css">
</head>
<body>
<!--盒子模型-->
<div id="div1">
    <!--    盒子内边距padding会撑大盒子-->
    盒子内容
</div>
<div id="div2">
    <div id="div3">

    </div>
</div>
<p>uuuuuuuuuuuuuu</p>
<p>uuuuuuuuuuuuuu</p>
<p>uuuuuuuuuuuuuu</p>
<p>uuuuuuuuuuuuuu</p>
<p>uuuuuuuuuuuuuu</p>
<div id="div4"></div>
<p>uuuuuuuuuuuuuu</p>
<p>uuuuuuuuuuuuuu</p>
<p>uuuuuuuuuuuuuu</p>
<p>uuuuuuuuuuuuuu</p>
<p>uuuuuuuuuuuuuu</p>
<p>uuuuuuuuuuuuuu</p>
<p>uuuuuuuuuuuuuu</p>
<p>uuuuuuuuuuuuuu</p>
<p>uuuuuuuuuuuuuu</p>
<p>uuuuuuuuuuuuuu</p>
<p>uuuuuuuuuuuuuu</p>
<p>uuuuuuuuuuuuuu</p>
<p>uuuuuuuuuuuuuu</p>
<p>uuuuuuuuuuuuuu</p>
<p>uuuuuuuuuuuuuu</p>
<p>uuuuuuuuuuuuuu</p>
<p>uuuuuuuuuuuuuu</p>
<p>uuuuuuuuuuuuuu</p>
<p>uuuuuuuuuuuuuu</p>
<p>uuuuuuuuuuuuuu</p>
<p>uuuuuuuuuuuuuu</p>
<p>uuuuuuuuuuuuuu</p>
<p>uuuuuuuuuuuuuu</p>
<p>uuuuuuuuuuuuuu</p>
<p>uuuuuuuuuuuuuu</p>
<p>uuuuuuuuuuuuuu</p>

</body>
</html>