<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<link rel="stylesheet" href="../css/common.css">
</head>
<body>
<!--html:内容  css：美观  js：赋予动作  jquery：js升级-->
<!--css选择器:标签选择器，类选择器，id选择器，组合选择器-->
<!--css写法：内敛css，外联css-->
<p style="color: #a50f0b">html:内容 css：美观 js：赋予动作 jquery：js升级</p>
<p>html:内容 css：美观 js：赋予动作 jquery：js升级</p>
<p class="test">html:内容 css：美观 js：赋予动作 jquery：js升级</p>
<p id="last" class="test">html:内容 css：美观 js：赋予动作 jquery：js升级</p>
<p> make somnething new</p>
</body>
</html>
