<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../css/scucss.css">
    <script>
       window.onload=function (ev) {
           // 页面元素加载完毕
           // 数组
           var btn=document.getElementsByTagName("button")[0];
           btn.onclick=function (ev1) {
               alert("sss");
           }
       }
    </script>
</head>
<body>
<div id="logo">
    <div id="search"></div>
    <div id="logoin"></div>
</div>
<div id="index">
    <div id="indexin"></div>
</div>
</body>
</html>